import os
import shutil
from torchvision.datasets import ImageFolder
import torchvision.transforms
import torch
import torchvision
from torch.utils.data import DataLoader
import matplotlib.pyplot as plt
import requests
from zipfile import ZipFile
from io import BytesIO
import numpy as np
